<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<h1>Hello, Rails!</h1>


<form action="http://localhost:3000/welcome/index">
    <input type="submit" value="Go to Index" />
</form>

<hr>
<form action="http://localhost:3000/welcome/testing">
    <input type="submit" value="Go to Testing" />
</form>